@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --bright-blue: hsl(220, 98%, 61%);
    --linear-gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* Light settings */
    --vl-gray: hsl(0, 3%, 93%);
    --vl-grayish-blue: hsl(236, 33%, 92%);
    --light-gayish-blue: hsl(233, 11%, 84%);
    --ddark-grayish-blue: hsl(236, 9%, 61%);
    --vd-grayish-blue: hsl(235, 19%, 35%);

    /* Dark settings */
    --vd-blue: hsl(235, 21%, 11%);
    --vd-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);

    --ff-josefin: 'Josefin Sans', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
}

/* Presets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-josefin);
}

html{
    background: var(--vl-gray);
}
body{
    background: url(../images/bg-mobile-light.jpg) top no-repeat;
    background-size: cover;
    height: 220px;
}

.body{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 600px;
}
.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}
img[alt='Sun'],
.radio-btn img,
.empty-todo img:nth-child(1){
    display: none;
}
.items_archive.flex{
    display: flex;
}
.radio-btn.checked{
    background: var(--linear-gradient);
    border: none;
}
.todo-item.checked .task{
    text-decoration: line-through;
    color: var(--ddark-grayish-blue);
}
.radio-btn.checked img{
    display: block;
}
.active{
    color: var(--bright-blue) !important;
}



header{
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
header h1{
    letter-spacing: 12px;
    color: var(--vl-gray);
}
.toggler,
.cancel{
    border: none;
    cursor: pointer;
}
.toggler{
    width: 50px;
    height: 20px;
    align-items: center;
    border-radius: 20px;
    background: var(--vl-gray);
}
.toggler img{
    background: var(--vd-blue);
    border-radius: 50%;
    padding: 5px;
    height: 25px;
    animation: opacity 1s;
}
.toggler img:nth-child(1).rotate{
    animation: clockwise 1s;
}
.toggler img:nth-child(2).rotate{
    animation: anti-clockwise 1s;
}
.cancel{
    background: url(../images/trash3.svg) no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

/* Light Settings */
.toggler{
    justify-content: flex-start;
}
.new-todo,
.todo_bg_links,
.lists{
    background: white;
}
.radio-btn{
    border: 3px solid var(--light-grayish-blue);
    min-width: 25px;
}


/* Dark Settings */
html.dark{
    background: var(--vd-blue);
    animation: opacity 1s;
}
html.dark body{
    background: url(../images/bg-mobile-dark.jpg) top no-repeat;
    background-size: cover;
}
html.dark .toggler{
    justify-content: flex-end;
}
html.dark #new-todo,
html.dark #new-todo::placeholder{
    color: var(--vl-gray);
}
html.dark .new-todo,
html.dark .todo_bg_links,
html.dark .lists{
    background: var(--vd-grayish-blue);
}
html.dark .radio-btn{
    border: 1px solid var(--light-grayish-blue);
}
html.dark .todo-item{
    color: var(--vl-gray);
}
html.dark .cancel{
    filter: brightness(5);
}
html.dark .lists div:hover,
html.dark .lists-desktop div:hover{
    color: var(--light-grayish-blue-hover);
}
html.dark .lists div:focus,
html.dark .lists-desktop div:focus{
    color: var(--bright-blue);
}
html.dark .archive-completed,
html.dark .items_archive p{
    color: var(--light-gayish-blue);
}
html.dark .archive-completed:hover{
    color: var(--light-grayish-blue-hover);
}
html.dark .empty-todo{
    color: var(--vl-gray);
}
html.dark .empty-todo img:nth-child(2){
    display: none;
}
html.dark .empty-todo img:nth-child(1){
    display: initial;
}

.empty-todo{
    text-align: center;
    padding: 30px 0;
}
.empty-todo img{
    height: 80px;
}
.empty-todo h1{
    margin: 20px 0 20px;
}

.new-todo{
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    align-items: center;
    font-size: 1.05em;
}
.radio-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#new-todo{
    width: 100%;
    outline: none;
    border: none;
    background: none;
}

.todo_bg_links{
    border-radius: 5px;
    width: 100%;
    margin: 20px 0;
    font-size: 0.80em;
}
hr{
    border: none;
    background: var(--light-grayish-blue);
    width: 100%;
    height: 1px;
}
.todo-item,.radio_task,
.items_archive{
    align-items: center;
}
.task{
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
}
.todo-item,
.items_archive{
    color: var(--dark-grayish-blue);
    padding: 20px;
    justify-content: space-between;
}
.todo-item.dbclick{
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: grab;
}

.lists-desktop{
    display: none;
}
.archive-completed{
    text-align: right;
}


.lists{
    justify-content: center;
    padding: 20px 0;
    border-radius: 5px;
}
.lists div,
.lists-desktop div{
    font-weight: var(--fw-700);
    color: var(--dark-grayish-blue);
    margin: 0 10px;
}
.lists div:hover,
.lists-desktop div:hover{
    color: var(--vd-grayish-blue);
}
.lists div:focus,
.lists-desktop div:focus{
    color: var(--bright-blue);
}
.archive-completed:hover{
    color: var(--vd-grayish-blue);
}


.drag-instruction{
    margin: 40px 0;
    text-align: center;
    color: var(--dark-grayish-blue);
}


@media (min-width: 600px) {
    html.dark body{
        background: url(../images/bg-desktop-dark.jpg) top no-repeat;
        background-size: cover;
    }


    body{
        background: url(../images/bg-desktop-light.jpg) top no-repeat;
        background-size: cover;
        height: 250px;
    }
    .cancel{
        display: none;
    }


    header{
        padding: 60px 0 40px;
    }
    .todo-item:hover .cancel{
        display: initial;
    }

    .lists-desktop{
        display: flex;
    }
    .lists{
        display: none;
    }
}


@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes anti-clockwise{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes clockwise{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
